services:
  - type: web
    name: springboot-task-management
    env: docker
    dockerfilePath: Dockerfile
    repo: https://github.com/Albymens/Task-Management-API.git
    branch: main
    envVars:
      - key: JAVA_OPTS
        value: -Dspring.profiles.active=prod
      - key: SPRING_DATASOURCE_URL
        fromDatabase:
          name: task-db
          property: connectionString
      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: task-db
          property: user
      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: task-db
          property: password
    autoDeploy: true

databases:
  - name: task-db
    databaseName: task_management_iah6
    user: task_user
    plan: free